body {
    padding-top: 5rem;
    overflow-x: hidden;
}


.img-grid{
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,2fr));
    gap:1em;


}

.img-grid li{
    list-style-type: none;

}